body,*{
    padding: 0;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 1500vh;
}
@font-face {
    font-family:MadaniArabic-SemiBold;
    src: url(images/Madani\ Arabic\ Semi\ Bold.ttf);
  }
  @font-face {
    font-family: MadaniArabic-Light;
    src: url(images/Madani\ Arabic\ Light.ttf);
  }
  @font-face {
    font-family: MadaniArabic-Regular;
    src: url(images/Madani\ Arabic\ Regular.ttf);
  }
  @font-face {
    font-family: MadaniArabic-Bold;
    src: url(images/Madani\ Arabic\ Bold.ttf);
  }
.background{
    background: #B9D0CC;
    height: fit-content;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.header:hover{
    background: white;
    transition: all 0.2s ease;
}
.one,.three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}
.one a{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-size: 20px;
}
.one a:hover{
    color: red;
    text-decoration: underline;
    transition:all 0.2s ease;
}
.three-one,.three-two,.three-three,.three-four{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.getstart{
    width: 140px;
}
.flex-one{
    display:flex;
    flex-direction: column;
    padding: 110px 0px 100px 50px;
    gap: 40px;
}
.flex-one h1{
    font-size: 55px;
    color: #293E40;
    font-family:MadaniArabic-SemiBold;
}

.flex-one p{
    font-size: 28px;
    color: #293E40;
    line-height: 44px;
    width: 620px;
    font-family: MadaniArabic-Light;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 21px;
    border-radius: 6px;
    font-weight: 700;
    color: #293D40;
    border: 2px solid #293D40;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    width:240px;
    height: 58px;
    font-family: inherit;
    margin-top: 28px;
    line-height: 4px;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #293D40;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   .btn:hover{
    color: white;
    z-index: 11111;
   }
   .btn:hover::before {
    transform: translateX(0);
   }
.flex-two img{
    width: 700px;
    margin-top: -80px;
    margin-left: -20px;
    z-index: 111111;
    opacity: 1;

}
.fixed{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    margin: 0px 20px 60px 0px;
    width: 127px;
    height: 137px;
}
.header-two{
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
}
.header-two a{
    margin: 0px 20px;
    text-decoration: none;
    color: #293E40;
    font-size: 19px;
    font-family: MadaniArabic-Light;
    padding-bottom: 30px;
}
.header-two a:hover{
    border-bottom: 1px solid black; 
    border-bottom-width: 5px;
    text-decoration: none;
    color: #293E40;
    font-weight: 600;
}
.main{
    display: flex;
    justify-content: space-around;
    max-width: 78%;
    margin: 50px;
    margin-top: 120px;
}
.m{
    display: flex;
    justify-content: space-around;
    max-width: 78%;
    margin: 50px;
    margin-top: 120px;
    width: 500px;
    margin-left: 0;
}
.main h1{
    line-height: 62px;
    font-size: 42px;
    color: #293E40;
    font-family:MadaniArabic-SemiBold;
}
.m h1{
    line-height: 62px;
    font-size: 45px;
    color: #293E40;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 150px;
}
.container h1{
    color: #293E40;
    font-size: 44px;
    line-height: 62px;
    margin-bottom: 0;
}
.para{
    color: #293E40;
    font-size: 23px;
    line-height: 42.4px;
    margin: 50px;
    margin-left: 0;
    margin-top: 0;
    font-family: MadaniArabic-Regular;
}
.container-one{
    display: flex;
    flex-direction: column;
}
.container-two img{
    width: 750px;
    height: 750px;
    margin-left: -60px;
}
.btn2 {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 21px;
    border-radius: 6px;
    font-weight: 700;
    color: #293D40;
    border: 2px solid #293D40;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    width:340px;
    height: 58px;
    font-family: inherit;
    margin-top: -10px;
    line-height: 4px;
    margin-left: 50px;
   }
   
   .btn2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #293D40;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   .btn2:hover{
    color: white;
   }
   .btn2:hover::before {
    transform: translateX(0);
   }
/* ----------------------------------------------- */
.cta {
    border: none;
    background: none;
    margin-left: -250px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    font-family: MadaniArabic-Regular;
    color: #293E40;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    height:10px; 
    width:30px;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .content{
    display: flex;
    height: 134vh;
    justify-content: space-around;
    align-items: center;
    background: #C7C7C7;
  }
  .content h1{
    color: #293E40;
    font-size: 42px;
    padding-top: 150px;

  }
  .comma{
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
    margin-bottom: -70px;
  }
  .content h4{
    font-family:MadaniArabic-SemiBold;
    margin: 50px;
    color: #293E40;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .rank{
    margin-left: 50px;
    font-family: MadaniArabic-Light;
    color: #293E40;
  }
  .b{
    margin-top: 100px;
    width: 250px;
    font-size: 22px;
  }
  .main2{
    margin-left: 50px;
  }
  .image2 img{
    margin: 60px;
  }
  .space{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }
  .oneimagetext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    margin: 30px;
    margin-left: 30px;
    margin-top: -20px;
  }
  .oneimagetext h2{
    text-align: start;
    font-size: 24px;
    line-height: 23px;
    margin-top: 40px;
    margin-left: 20px;
  }
  .r{
    margin-left: 50px;
  }   
  .oneimagetext p{
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 24px;
  }
  .oneimagetext img{
    transition: transform .2s;
    margin:0 auto;
  }
  .oneimagetext img:hover{
    transform:scale(1.1);
}
.back{
    height: 100vh;
    background: rgb(246, 246, 246);
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 60px;
}
.h{
    font-family: MadaniArabic-SemiBold;
    font-size: 40px;
}
.newpara{
    color: #293E40;
    font-size: 16px;
    font-family: MadaniArabic-Regular;
    margin-top: 30px;
}
.flexthree{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
} 
.g{
    width: 300px;
    margin-left: -130px;
}
.g h2{
    font-size: 21px;
    line-height: 22px;
    font-weight: 600;
}
.g p{
    font-size: 20px;
    line-height: 27px;
    margin-top: 40px;
}
.a{
    margin-left: 10px;
}
/* ------------------------------------------------------------------------------------Media Query---------------------------------------------------------------------------- */
  @media(max-width:1100px){
    .background{
        width: fit-content;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .flex-two{
        margin: auto;
    }
}
@media(max-width:762px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .getstart{
        display: none;
    }
}
@media(max-width:500px){
    .one a{
        display: none;
    }
}